<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <title>Board Form</title>
    <link rel="stylesheet" th:href="@{/css/base.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
    <div th:replace="fragments/header::header"></div>

    <div class="container" style="text-align: center;">
        <br/>
        <h2>로그인</h2><br/><br/>
        <a href="/oauth2/authorization/facebook">
            <img th:src="@{/images/facebook.png}" width="40px" height="40px"/>
        </a>
        <a href="/oauth2/authorization/google">
            <img th:src="@{/images/google.png}" width="40px" height="40px"/>
        </a>
        <a href="/oauth2/authorization/kakao">
            <img th:src="@{/images/kakao.png}" width="40px" height="40px"/>
        </a>
    </div>

    <div th:replace="fragments/footer::footer"></div>

</body>
</html>